@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #fdf8f8;
    color: #1c1b1b;
  }
}

@layer utilities {
  .border-hard {
    border: 1.5px solid #000;
  }
  
  .border-hard-thick {
    border: 3px solid #000;
  }
  
  .shadow-hard {
    box-shadow: 4px 4px 0px 0px #000;
  }
  
  .shadow-hard-hover:hover {
    transform: translate(-2px, -2px);
    box-shadow: 4px 4px 0px 0px #5f5e5e;
    transition: all 0.2s ease;
  }
  
  .bg-editor {
    background-color: #F9F9F9;
  }
  
  .bg-terminal {
    background-color: #131313;
    color: #ffffff;
  }
}