# dependencies
node_modules
.next
out
dist
build
.env
.env.local
.DS_Store
Thumbs.db

# others
venv/
.venv/
gemini-live-genai-python-sdk/
ai-interview-main/
tests/logs

.python-version
*/__pycache__/
**/__pycache__

*.log

